/* CSS declarations go here */
.game-header{
  text-align:center;
  margin-bottom: 1em;
}
.board{
  position:relative;
  width:100%;
  max-width:60vh;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:1em;
  padding: 15px;
  border-width: 1em;
  border-style: solid;
  border-color: #284E70;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  background-color: #337AB7;
  -webkit-box-shadow: inset 0px 0px 30px 14px rgba(50, 50, 50, 0.32);
  -moz-box-shadow:    inset 0px 0px 30px 14px rgba(50, 50, 50, 0.32);
  box-shadow:         inset 0px 0px 30px 14px rgba(50, 50, 50, 0.32);
}
.board:before{
	content: "";
	display: block;
	padding-top: 100%; 	/* initial ratio of 1:1*/
}
.board-content{
	position:  absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.board-over{
  position:  absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
  background-color: rgba(0,0,0,0.2);
}
.game-controls{
  font-size:2em;
}
.wordList{
  max-width:60vh;
  margin: 0 auto;
}
.timeup-message{
  width: 100%;
  text-align: center;
  font-size: 1em;
  position: absolute;
  top: 47%;
  transform: translateY(-53%);
  color: #fff;
  text-shadow: 2px 2px 8px rgb(0, 0, 0);
}
.timeup-message h1{
  font-family: 'Pacifico', cursive;
}
.boardscaleimg{
	min-width: 100%;
	height: auto;
}
.box{
  width:25%;
  height:25%;
  float:left;
  padding:0.2em;
}
.dice{
  text-align:center;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  background-color:white;
  width:100%;
  height:100%;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 0.2em solid #9C9791;
  -webkit-box-shadow: inset 0px 0px 1em 0.6em rgba(50, 50, 50, 0.32);
  -moz-box-shadow:    inset 0px 0px 1em 0.6em rgba(50, 50, 50, 0.32);
  box-shadow:         inset 0px 0px 1em 0.6em rgba(50, 50, 50, 0.32);
}
.dark-dice{
  background-color:#90BAD2;
}
.diceletter{
  cursor:pointer;
  width: 50%;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-transform: capitalize;
  color: #635353;
  font-size: 7vw;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
@media all and (min-width: 600px) {
  .diceletter{
    font-size: 3em;
  }
}
