.typing_loader{
  display: inline-block;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  -webkit-animation: typing 1s linear infinite alternate;
  -moz-animation: Typing 1s linear infinite alternate;
  animation: typing 1s linear infinite alternate;
  /* margin: 46px auto; */
  position: relative;
  left: 12px;
  top: -2px;
}
@-webkit-keyframes typing{
    0%{
        background-color: rgba(169,169,169, 1);
        box-shadow: 12px 0px 0px 0px rgba(169,169,169,0.2),
                    24px 0px 0px 0px rgba(169,169,169,0.2);
      }
    25%{
        background-color: rgba(169,169,169, 0.4);
        box-shadow: 12px 0px 0px 0px rgba(169,169,169,2),
                    24px 0px 0px 0px rgba(169,169,169,0.2);
    }
    75%{ background-color: rgba(169,169,169, 0.4);
        box-shadow: 12px 0px 0px 0px rgba(169,169,169,0.2),
                    24px 0px 0px 0px rgba(169,169,169,1);
      }
}

@-moz-keyframes typing{
   0%{
        background-color: rgba(169,169,169, 1);
        box-shadow: 12px 0px 0px 0px rgba(169,169,169,0.2),
                    24px 0px 0px 0px rgba(169,169,169,0.2);
      }
    25%{
        background-color: rgba(169,169,169, 0.4);
        box-shadow: 12px 0px 0px 0px rgba(169,169,169,2),
                    24px 0px 0px 0px rgba(169,169,169,0.2);
    }
    75%{ background-color: rgba(169,169,169, 0.4);
        box-shadow: 12px 0px 0px 0px rgba(169,169,169,0.2),
                    24px 0px 0px 0px rgba(169,169,169,1);
      }
}

@keyframes typing{
   0%{
        background-color: rgba(169,169,169, 1);
        box-shadow: 12px 0px 0px 0px rgba(169,169,169,0.2),
                    24px 0px 0px 0px rgba(169,169,169,0.2);
      }
    25%{
        background-color: rgba(169,169,169, 0.4);
        box-shadow: 12px 0px 0px 0px rgba(169,169,169,2),
                    24px 0px 0px 0px rgba(169,169,169,0.2);
    }
    75%{ background-color: rgba(169,169,169, 0.4);
        box-shadow: 12px 0px 0px 0px rgba(169,169,169,0.2),
                    24px 0px 0px 0px rgba(169,169,169,1);
      }
}
