<template name="boggleComplete">
  <div class="container">
    <div class="row game-header">
      <h1>Moggle</h1>
    </div>
    <div class="row">
      <div class="col-sm-6 col-xs-12">
        <div class="board">
          <div class="board-content">
            {{#each d in dice}}
              <div class="box">
                <div class="dice">
                  <div class="diceletter" data-letter="{{d.letter}}" data-order="{{d.order}}">
                    {{d.letter}}
                  </div>
                </div>
              </div>
            {{/each}}
          </div>
          <div class="board-over">
            <div class="timeup-message"><h1>Time Up!</h1></div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-xs-12">
        <div class="wordList well">
          <h2>Your Score: {{score}}</h2>
          <h3>Words:</h3>
          <ul>
            {{#each words}}
            <li>{{this.word}} ({{this.score}})</li>
            {{/each}}
          </ul>
          <h3>Discarded Words:</h3>
          <ul>
            {{#each unverifiedWords}}
            <li>{{this.word}} ({{this.score}})</li>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>
