<template name="boggleGame">
  <div class="container">
    <div class="row game-header">
      <h1>Moggle{{#if isChallenge}} Challenge{{/if}}</h1>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <div class="board">
          <div class="board-content">
            {{#each d in dice}}
              <div class="box">
                <div class="dice">
                  <div class="diceletter" data-letter="{{d.letter}}" data-order="{{d.order}}">
                    {{d.letter}}
                  </div>
                </div>
              </div>
            {{/each}}
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="wordList panel panel-default">
          <div class="panel-heading game-controls">
            <span class="glyphicon glyphicon-time"></span> {{timer}}
            <button class="btn btn-default pull-right endGame" >Finish</button>
          </div>
          <div class="panel-body">
            <h3>Words:</h3>
            <ul>
                {{#each gameWordsUnchecked}}
                <li class="unchecked">{{this}} <div class="typing_loader"></div></li>
                {{/each}}
                {{#each gameWords}}
                <li class="checked">{{this.word}} ({{this.score}})</li>
                {{else}}
                <li>(Click and drag the letters!)</li>
                {{/each}}
            </ul>
            <hr>
            <h3>Discarded:</h3>
            <ul>
              {{#each discarded}}
                <li class="discarded">{{this}}</li>
              {{/each}}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
