<template name="boggleComplete">
  <div class="container">
    <div class="row game-header">
      <h1>Moggle{{#if isChallenge}} Challenge{{/if}}</h1>
    </div>
    <div class="row">
      <div class="col-sm-6 col-xs-12">
        <div class="board">
          <div class="board-content">
            {{#each d in dice}}
              <div class="box">
                <div class="dice">
                  <div class="diceletter" data-letter="{{d.letter}}" data-order="{{d.order}}">
                    {{d.letter}}
                  </div>
                </div>
              </div>
            {{/each}}
          </div>
          <div class="board-over">
            <div class="timeup-message">
              <h1>Time's Up!</h1>
              <a class="btn btn-primary btn-lg playagain">Play Again</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-xs-12">
        <div class="wordList well">
            <h2>Your Score: {{score}}</h2>
            <hr>
            {{#if isChallenge}}
              {{#each player in challenge.players}}
                <h3>{{player.username}}:
                  {{#if player.played}}
                    {{player.score}}
                  {{else}}
                    Has not played yet.
                  {{/if}}
                </h3>
              {{/each}}
            {{/if}}
            <hr>
            <h3>Words:</h3>
            <ul>
              {{#with game}}
                {{#each game.words}}
                <li>{{this.word}} ({{this.score}})</li>
                {{else}}
                <li>No words found.</li>
                {{/each}}
              {{/with}}
            </ul>
        </div>
      </div>
    </div>
  </div>
</template>
