<template name="boggleLoading">
  <div class="container home-container">
    <h1>Moggle</h1>
    <h2>Loading...</h2>
    <div class="buttons">
      <div class="windows8">
      	<div class="wBall" id="wBall_1">
      		<div class="wInnerBall"></div>
      	</div>
      	<div class="wBall" id="wBall_2">
      		<div class="wInnerBall"></div>
      	</div>
      	<div class="wBall" id="wBall_3">
      		<div class="wInnerBall"></div>
      	</div>
      	<div class="wBall" id="wBall_4">
      		<div class="wInnerBall"></div>
      	</div>
      	<div class="wBall" id="wBall_5">
      		<div class="wInnerBall"></div>
      	</div>
      </div>
    </div>
  </div>
</template>
